{% style %}
  .template-404 p {
    margin: 1.2rem 0 0;
  }
  .template-404 .btn {
    margin-top: 2.4rem;
  }
{% endstyle %}
<div
  class="template-404 section section--padding"
  style="--section-padding-top: 100px;--section-padding-bottom: 100px;"
>
  <div class="page-width text-center">
    <{{ section.settings.heading_tag }} class="title {{ section.settings.heading_size }}">
      {{- 'templates.404.title' | t -}}
    </{{ section.settings.heading_tag }}>
    <p class="text-lg">{{ 'templates.404.subtext' | t }}</p>
    <a href="{{ routes.all_products_collection_url }}" class="btn btn--primary">
      {{ 'general.continue_shopping' | t }}
    </a>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.main-404.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.all.text_size.heading.label",
      "default": "h2",
      "options": [
        {
          "value": "h6",
          "label": "t:sections.all.text_size.options__h6.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.text_size.options__h5.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.text_size.options__h4.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.text_size.options__h3.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.text_size.options__h2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.text_size.options__h1.label"
        },
        {
          "value": "hd3",
          "label": "t:sections.all.text_size.options__hd3.label"
        },
        {
          "value": "hd2",
          "label": "t:sections.all.text_size.options__hd2.label"
        },
        {
          "value": "hd1",
          "label": "t:sections.all.text_size.options__hd1.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "t:sections.all.heading_tag.label",
      "default": "h1",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_tag.options__6.label"
        }
      ],
      "info": "t:sections.all.heading_tag.info"
    }
  ]
}
{% endschema %}
